# -------------------------------------------------------------------------------------
# Frontend owns this repo as a whole.
# -------------------------------------------------------------------------------------
*                    @tiki-bar/frontend

# -------------------------------------------------------------------------------------
# Content should have eyes on any static asset changes.
# -------------------------------------------------------------------------------------
*.md                 @tiki-bar/content
*.png                @tiki-bar/content
*.svg                @tiki-bar/content

# -------------------------------------------------------------------------------------
# Infrastructure should all have eyes on any changes under .github/
# -------------------------------------------------------------------------------------
/.github/            @tiki-bar/infrastructure

